<menu id="MainMenu" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <menu-item id="start_stop" label="@Strings.menu_start_stop" />
    <menu-item id="reset" label="@Strings.menu_reset" />
    <menu-item id="presets" label="@Strings.menu_presets" />
</menu>
